html{
    background: #f4f2f2;
}

.desktop2 .menu-top-wrap
{
    text-align: center;
}

.desktop2 .menu-top-wrap ul {
    margin: 0;
    padding: 4px;
}

.desktop2 .menu-top-wrap ul li {
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
}

.desktop2 .menu-top-wrap ul li a {
    font-family: "Open sans";
    text-decoration: none;
    color: white;
}

